﻿@model WebReportingService.Models.ChangePasswordModalData

@{
    ViewData["Title"] = "ChangePassword";
}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="pull-left page-title">Change Password</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Change Password</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <!-- Basic example -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header"><h3 class="card-title">Change Password</h3></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <form asp-action="ChangePassword">
                                    <div class="col-sm-3 form-group">
                                        <label asp-for="username" class="control-label"></label>
                                        <input asp-for="username" class="form-control" disabled />
                                        <span asp-validation-for="username" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-3 form-group">
                                        <label asp-for="useroldpassword" class="control-label"></label>
                                        <input asp-for="useroldpassword" class="form-control" />
                                        <span asp-validation-for="useroldpassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-3 form-group">
                                        <label asp-for="userpassword" class="control-label"></label>
                                        <input asp-for="userpassword" class="form-control" />
                                        <span asp-validation-for="userpassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-3 form-group">
                                        <label asp-for="userconpassword" class="control-label"></label>
                                        <input asp-for="userconpassword" class="form-control" />
                                        <span asp-validation-for="userconpassword" class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-3 form-group">
                                        @*<input type="submit" value="Create" class="btn btn-primary" />*@
                                        <button type="submit" style="margin-top:30px;" class="btn btn-primary waves-effect waves-light">Change Password</button>
                                    </div>
                                </form>
                                <b>@ViewData["Message"]</b>
                            </div><!-- card-body -->
                        </div>
                    </div>
                </div> <!-- card -->
            </div> <!-- col-->
        </div> <!-- End row -->
        <div>
            <a asp-action="Index">Back to Dashboard</a>
        </div>
    </div>
    <!-- container -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
