﻿@model WebReportingService.Models.indexModalData
@{
    ViewData["Title"] = "Dashboard";
}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="pull-left page-title">Welcome !</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="#">Moltran</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
        <form asp-action="Index">
            <div class="row">
                <div class="col-lg-6">

                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Platform and Date Filter</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" style="width:100%;">
                                            <label for="exampleInputPassword1">Platform</label>
                                            @Html.ListBoxFor(m => m.platformids, Model.Platforms, new { @class = "listbox form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="width:100%;">
                                            <label for="exampleInputPassword1">Games</label>
                                            @Html.ListBoxFor(m => m.gameid, Model.Games, new { @class = "listbox form-control" })
                                            @*@Html.DropDownListFor(m => m.gameid, Model.Games, "All", new { @class = "form-control" })*@
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Start Date</label>
                                            <input type="date" class="form-control" placeholder="mm/dd/yyyy" asp-for="fromdate">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">End Date</label>
                                            <input type="date" class="form-control" placeholder="mm/dd/yyyy" asp-for="todate">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <button type="submit" style="margin-top: 30px;  padding: 6px 5px 6px 5px; width:100%" class="btn btn-success waves-effect waves-light">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>


                <div class="col-lg-6">
                    <div class="card m-b-20">
                        <div class="card-header">
                            <h3 class="card-title">Summary</h3>
                            @*<a href="#">Daily</a> || <a href="#">Weekly</a> || <a href="#">Monthly</a> || <a href="#">Yearly</a>*@
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped mb-0">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="text-nowrap" scope="row">Date</th>
                                            <td colspan="5"> <label class="control-label">@ViewBag.fromdate</label> - <label class="control-label">@ViewBag.todate</label> </td>
                                        </tr>
                                        <tr>
                                            <th class="text-nowrap" scope="row">PL</th>
                                            <td colspan="5"><label class="control-label">@ViewBag.betpl</label></td>
                                        </tr>
                                        <tr>
                                            <th class="text-nowrap" scope="row">Volume</th>
                                            <td colspan="5"><label class="control-label">@ViewBag.betvolume</label></td>
                                        </tr>
                                        <tr>
                                            <th class="text-nowrap" scope="row">Avg. Players</th>
                                            <td colspan="5"><label class="control-label">@ViewBag.avgplayers</label></td>
                                        </tr>
                                        <tr>
                                            <th class="text-nowrap" scope="row">#Bets</th>
                                            <td colspan="5"><label class="control-label">@ViewBag.noofbets</label></td>
                                        </tr>

                                        <tr>
                                            <th class="text-nowrap" scope="row">Avg. Volume (Players)</th>
                                            <td colspan="5"><label class="control-label">@ViewBag.AVG_VOL_PLAYER</label></td>
                                        </tr>
                                        <tr>
                                            <th class="text-nowrap" scope="row">Avg. Volume (Bet)</th>
                                            <td colspan="5"><label class="control-label">@ViewBag.AVG_VOL_BET</label></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div> <!-- col-->


            </div> <!-- End row -->
            <!-- Start Widget -->
            <!--Widget-4 -->
            <div class="row">
                <h3>Gamewise Profit/Loss</h3><br />
            </div>
            <div class="row">

                <div class="col-md-6 col-xl-2">
                    <div class="mini-stat clearfix bx-shadow bg-white">
                        <div class="mini-stat-info text-left text-dark">
                            Teen Patti
                            <span class="counter text-dark">15852</span>
                        </div>
                    </div>
                </div>
                
            </div> <!-- End row-->

        </form>


    </div>
    <!-- container -->
</div>