﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportingService</title>
    <link rel="shortcut icon" href="assets/images/favicon_1.ico">

    <link href="~/ReportingService/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" type="text/css">

    <!-- Custom Files -->
    <link href="~/ReportingService/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/ReportingService/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/ReportingService/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/ReportingService/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/ReportingService/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="~/ReportingService/assets/js/modernizr.min.js"></script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body class="fixed-left">
    <form id="form1" runat="server">
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <a href="index.html" class="logo"><i class="md md-terrain"></i><span>Moltran </span></a>
                    </div>
                </div>
                <!-- Button mobile view to collapse sidebar menu -->

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="list-inline menu-left mb-0">
                            <li class="float-left">
                                <a href="#" class="button-menu-mobile open-left">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                            <li class="hide-phone float-left">
                                <form role="search" class="navbar-form">
                                    <input type="text" placeholder="Type here for search..." class="form-control search-bar">
                                    <a href="#" class="btn btn-search"><i class="fa fa-search"></i></a>
                                </form>
                            </li>
                        </ul>

                        <ul class="nav navbar-right float-right list-inline">
                            <li class="dropdown d-none d-sm-block">
                                <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                    <i class="md md-notifications"></i><span class="badge badge-pill badge-xs badge-danger">3</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg">
                                    <li class="text-center notifi-title">Notification</li>
                                    <li class="list-group">
                                        <!-- list item-->
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="media-left pr-2">
                                                    <em class="fa fa-user-plus fa-2x text-info"></em>
                                                </div>
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">New user registered</div>
                                                    <p class="m-0">
                                                        <small>You have 10 unread messages</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- list item-->
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="media-left pr-2">
                                                    <em class="fa fa-diamond fa-2x text-primary"></em>
                                                </div>
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">New settings</div>
                                                    <p class="m-0">
                                                        <small>There are new settings available</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- list item-->
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="media-left pr-2">
                                                    <em class="fa fa-bell-o fa-2x text-danger"></em>
                                                </div>
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">Updates</div>
                                                    <p class="m-0">
                                                        <small>
                                                            There are

                                                            <span class="text-primary">2</span> new updates available
                                                        </small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- last list item -->
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <small>See all notifications</small>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="d-none d-sm-block">
                                <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="md md-crop-free"></i></a>
                            </li>
                            <li class="d-none d-sm-block">
                                <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="md md-chat"></i></a>
                            </li>
                            <li class="dropdown open">
                                <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
                                    <img src="~/ReportingService/assets/images/users/avatar-1.jpg" alt="user-img" class="rounded-circle">
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-face-unlock mr-2"></i>Profile</a></li>
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-settings mr-2"></i>Settings</a></li>
                                    <li><a asp-controller="Home" asp-action="ChangePassword" class="dropdown-item"><i class="md md-lock mr-2"></i>Password</a></li>
                                    <li><a asp-controller="Home" asp-action="Signinout" class="dropdown-item"><i class="md md-settings-power mr-2"></i>Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- Top Bar End -->
            <!-- ========== Left Sidebar Start ========== -->

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="pull-left">
                            <img src="~/ReportingService/assets/images/users/avatar-1.jpg" alt="" class="thumb-md rounded-circle">
                        </div>
                        <div class="user-info">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Lane4Solution
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)" class="dropdown-item">
                                            <i class="md md-face-unlock mr-2"></i>Profile<div class="ripple-wrapper"></div>
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-settings mr-2"></i>Settings</a></li>
                                    <li><a asp-controller="Home" asp-action="ChangePassword" class="dropdown-item"><i class="md md-lock mr-2"></i>Password</a></li>
                                    <li><a asp-controller="Home" asp-action="Signinout" class="dropdown-item"><i class="md md-settings-power mr-2"></i>Logout</a></li>
                                </ul>
                            </div>

                            <p class="text-muted m-0">Administrator</p>
                        </div>
                    </div>
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>
                            @*<li class="has_sub">
                                    <a href="#" class="waves-effect"><i class="md md-home"></i><span>Dashboard </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                    <ul class="list-unstyled">
                                        <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>

                                    </ul>
                                </li>*@
                            <li>
                                <a asp-controller="Home" asp-action="Index" class="waves-effect"><i class="md md-home"></i><span> Dashboard </span></a>
                            </li>
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-find-in-page"></i><span>Report </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="#">Profit/Loss Report</a></li>
                                    <li><a href="#">Datewise Agent Profit/Loss</a></li>

                                </ul>
                            </li>

                            <li>
                                <a href="#" class="waves-effect"><i class="md md-keyboard"></i><span> Role Management </span></a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ChangePassword" class="waves-effect"><i class="md md-lock"></i><span> Change Password </span></a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Signinout" class="waves-effect"><i class="md md-exit-to-app"></i><span> Sign Out </span></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">

                @RenderBody()
                <footer class="footer">
                    2016 - 2021 © Moltran.

                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->
    </form>
    <script>
        var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="~/ReportingService/assets/js/jquery.min.js"></script>
    <script src="~/ReportingService/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/ReportingService/assets/js/detect.js"></script>
    <script src="~/ReportingService/assets/js/fastclick.js"></script>
    <script src="~/ReportingService/assets/js/jquery.slimscroll.js"></script>
    <script src="~/ReportingService/assets/js/jquery.blockUI.js"></script>
    <script src="~/ReportingService/assets/js/waves.js"></script>
    <script src="~/ReportingService/assets/js/wow.min.js"></script>
    <script src="~/ReportingService/assets/js/jquery.nicescroll.js"></script>
    <script src="~/ReportingService/assets/js/jquery.scrollTo.min.js"></script>

    <!-- jQuery -->
    <script src="~/ReportingService/plugins/moment/moment.min.js"></script>

    <!-- Counter js  -->
    <script src="~/ReportingService/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/ReportingService/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- sweet alerts -->
    <!--<script src="~/ReportingService/plugins/sweetalert2/sweetalert2.js"></script>-->
    <!-- Todoapp -->
    <script src="~/ReportingService/assets/pages/jquery.todo.js"></script>

    <!-- jQuery  -->
    <script src="~/ReportingService/assets/pages/jquery.chat.js"></script>

    <!-- Dashboard js  -->
    <!--<script src="~/ReportingService/assets/pages/jquery.dashboard.js"></script>-->
    <!-- App js  -->
    <script src="~/ReportingService/assets/js/jquery.app.js"></script>
    <script src="~/ReportingService/plugins/Chart.js/Chart.min.js"></script>
    @*<script src="~/ReportingService/assets/pages/chartjs.init.js"></script>*@
    <script src="~/ReportingService/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/ReportingService/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script>
        // Date Picker
        jQuery('#datepicker').datepicker();
        jQuery('#datepicker1').datepicker();
        jQuery('#datepicker-inline').datepicker();
        jQuery('#datepicker1-inline').datepicker();

    </script>
    <script>
        /* ==============================================
        Counter Up
        =============================================== */
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });
        });

    </script>
   
    @RenderSection("Scripts", required: false)
</body>
</html>
