﻿@model WebReportingService.Models.LoginModalData

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from coderthemes.com/moltran/dark/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Feb 2019 08:13:44 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Login - Reporting System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="assets/images/favicon_1.ico">

    <!-- Custom Files -->
    <link href="~/ReportingService/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/ReportingService/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/ReportingService/assets/css/style.css" rel="stylesheet" type="text/css" />

    <script src="~/ReportingService/assets/js/modernizr.min.js"></script>


</head>
<body>


    <div class="wrapper-page">
        <div class="card card-pages">
            <div class="card-header bg-img">
                <div class="bg-overlay"></div>
                <h3 class="text-center m-t-10 text-white"> Sign In to <strong>Reporting Service</strong> </h3>
            </div>


            <div class="card-body">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-12">
                            <input asp-for="username" class="form-control  input-lg" placeholder="Enter User Name" />
                            <span asp-validation-for="username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                            <input asp-for="userpassword" class="form-control input-lg" placeholder="Enter Your Password" />
                            <span asp-validation-for="userpassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup">
                                    Remember me
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group text-center m-t-10">
                        <div class="col-12">
                            <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit">Log In</button>

                        </div>
                    </div>
                </form>
                <b>@ViewData["Message"]</b>

            </div>

        </div>
    </div>


    <script>
        var resizefunc = [];
    </script>

    <!-- Main  -->
    <script src="~/ReportingService/assets/js/jquery.min.js"></script>
    <script src="~/ReportingService/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/ReportingService/assets/js/detect.js"></script>
    <script src="~/ReportingService/assets/js/fastclick.js"></script>
    <script src="~/ReportingService/assets/js/jquery.slimscroll.js"></script>
    <script src="~/ReportingService/assets/js/jquery.blockUI.js"></script>
    <script src="~/ReportingService/assets/js/waves.js"></script>
    <script src="~/ReportingService/assets/js/wow.min.js"></script>
    <script src="~/ReportingService/assets/js/jquery.nicescroll.js"></script>
    <script src="~/ReportingService/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/ReportingService/assets/js/jquery.app.js"></script>

</body>

<!-- Mirrored from coderthemes.com/moltran/dark/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Feb 2019 08:13:44 GMT -->
</html>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
